{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#character {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 50px;
    height: 100px;
    background-color: #ff69b4; /* Cor da menina */
    border-radius: 10px;
}

.trashcan {
    position: absolute;
    bottom: 50px;
    width: 80px;
    height: 80px;
    background-color: #8B4513; /* Cor dos lixos */
    border-radius: 10px;
}

#trashcan1 {
    left: 20%;
}

#trashcan2 {
    left: 50%;
    transform: translateX(-50%);
}

#trashcan3 {
    right: 20%;
}

.garbage {
    position: absolute;
    bottom: 150px;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: #32cd32; /* Cor do lixo */
    border-radius: 50%;
}
